/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --first-color: #c80036;
  --first-color-alt: #0c1844;
  --secondary-color: #ff6969;
  --title-color: #393939;
  --text-color: #707070;
  --text-color-light: #a6a6a6;
  --text-color-white: #fff;
  --body-color: #fbfefd;
  --container-color: #ffffff;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*========== BASE ==========*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: #f1f3f2;
  --text-color: #c7d1cc;
  --body-color: #1d2521;
  --container-color: #27302c;
}

/*========== Button Dark/Light ==========*/
.change-theme {
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*========== CLASS CSS ==========*/
.section {
  padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-3);
}

.section-subtitle {
  display: block;
  color: var(--first-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

/*========== LAYOUT ==========*/
.bd-container {
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*========== NAV ==========*/
.nav {
  max-width: 1024px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: var(--body-color);
    transition: 0.4s;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
  }

  .scroll-header .nav__menu {
    background-color: var(--secondary-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  }

  .scroll-header .nav__toggle i {
    color: var(--body-color);
  }
}

.nav__item {
  margin-bottom: var(--mb-2);
}

.nav__link,
.nav__logo,
.nav__toggle {
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__link {
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: var(--header-height);
}

/* Active menu */
.active-link {
  color: var(--first-color);
}

/* Change background header */
.scroll-header {
  background: var(--secondary-color);
  transition: 0.2s ease-in;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scroll-header .nav__logo {
  color: var(--text-color-white);
}

.scroll-header .nav__logo:hover {
  color: var(--first-color-alt);
}

.scroll-header .nav__link {
  color: var(--text-color-white);
}

.scroll-header .nav__link:hover {
  color: var(--first-color-alt);
}

.scroll-header .active-link {
  color: var(--first-color-alt);
}

.scroll-header .active-link:hover {
  color: var(--container-color);
}

/* Scroll top */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background: var(--secondary-color);
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: var(--first-color-alt);
}

.scrolltop__icon {
  font-size: 1.8rem;
  color: var(--body-color);
}

/* Show scrolltop */
.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

/*========== HOME ==========*/
.home__container {
  margin-top: 50px;
  height: calc(100vh - var(--header-height));
  align-content: center;
}

.home__title {
  font-size: var(--biggest-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.home__subtitle {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-4);
}

.home__img {
  margin-left: 50px;
  width: 300px;
  justify-self: center;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

/*========== BUTTONS ==========*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

/*========== ABOUT ==========*/
.about__data {
  text-align: center;
}

.about__description {
  margin-bottom: var(--mb-3);
  text-align: justify;
}

.about__img {
  width: 280px;
  border-radius: 0.5rem;
  justify-self: center;
}

/*========== SERVICES ==========*/
.services__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2.5rem;
}

.services__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 1.5rem;
  background-color: #fff; /* Optional: If you want a different background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Optional: If you want rounded corners */
}

.services__img {
  width: 80px;
  height: 80px;
  margin-bottom: -10px;
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.2));
}

.services__title {
  margin-top: 10px;
  font-size: var(--h3-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-1);
}

.services__description {
  flex: 1;
  padding: 0 1.5rem;
  margin-top: 10px;
  margin-bottom: 1.5rem;
  text-align: left;
}

/* tambahan */
.services__button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: var(--first-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.5s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.services__button a {
  color: var(--container-color);
}

.services__button:hover {
  background-color: var(--first-color-alt);
}

/*========== CONTACT ==========*/
.contact__container {
  text-align: center;
}

.contact__description {
  margin-bottom: var(--mb-3);
}

/*========== FOOTER ==========*/
.footer__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__logo {
  font-size: var(--h3-font-size);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.footer__description {
  display: block;
  font-size: var(--small-font-size);
  margin: 0.25rem 0 var(--mb-3);
}

.footer__social {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-2);
}

.footer__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-2);
}

.footer__link {
  display: inline-block;
  color: var(--text-color);
  margin-bottom: var(--mb-1);
}

.footer__link:hover {
  color: var(--first-color);
}

.footer__copy {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 3.5rem;
}

/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 576px) {
  .home__container,
  .about__container,
  .app__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about__data,
  .about__initial,
  .app__data,
  .app__initial,
  .contact__container,
  .contact__initial {
    text-align: initial;
  }

  .about__img,
  .app__img {
    width: 380px;
    order: -1;
  }

  .contact__container {
    grid-template-columns: 1.75fr 1fr;
    align-items: center;
  }
  .contact__button {
    justify-self: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 8rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }

  .change-theme {
    position: initial;
    margin-left: var(--mb-2);
  }

  .home__container {
    height: 100vh;
    justify-items: center;
  }

  .services__container,
  .menu__container {
    margin-top: var(--mb-6);
  }

  .menu__container {
    grid-template-columns: repeat(3, 210px);
    column-gap: 4rem;
  }
  .menu__content {
    padding: 1.5rem;
  }
  .menu__img {
    width: 130px;
  }

  .app__store {
    margin: 0 var(--mb-1) 0 0;
  }
}

@media screen and (min-width: 960px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img {
    width: 500px;
  }

  .about__container,
  .app__container {
    column-gap: 7rem;
  }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
  .home__container {
    height: 640px;
  }
}

/*========== JENIS PENYAKIT ==========*/
/* Container styling */
.tukak-lambung {
  text-align: center;
}
.section {
  padding: 60px 20px;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Title styling */
.content h2 {
  font-size: 30px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: var(--first-color-alt);
}

/* Image styling */
.content img {
  width: 60%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3)); /* Efek bayangan */
}

.content img:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

/* Text styling */
.content p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--text-color);
  margin-bottom: 1.5rem;
}

.content .subtitle {
  text-align: justify;
  margin-bottom: 40px;
  margin-top: 40px;
}

/* Accordion styling */
.accordion {
  text-align: left;
  margin-bottom: 1.5rem;
}

.accordion-item {
  background: #f9f9f9;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  border: 1px solid #ddd;
}

.accordion-icon {
  float: right;
}

.accordion-item h3 {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
}

.accordion-content {
  display: none;
  padding: 10px;
  border: 1px solid #ddd;
  border-top: none;
}

.accordion-item p {
  padding: 0 10px 10px;
  display: none;
  font-size: 1rem;
  text-align: justify;
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .content {
    padding: 15px;
  }

  .content h2 {
    font-size: 2rem;
  }

  .content p {
    font-size: 1rem;
  }

  .accordion-item h3 {
    font-size: 1.1rem;
  }
}

/*========== FORM IDENTITAS ==========*/

.form-section {
  flex: 2;
  min-width: 300px;
  font-family: "Poppins", sans-serif;
}

.content .button {
  margin-top: 15px;
  margin-bottom: 10px;
}

.form-header {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
}

.form-instructions {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
  text-align: justify;
}

.form-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  text-align: center;
}

.form-group {
  flex: 1 1 calc(50% - 10px);
  margin-bottom: 15px;
  min-width: 250px;
}

.form-group option {
  font-family: "Poppins", sans-serif;
  color: var(--title-color);
}

.form-group .form-title {
  text-align: left;
  margin-top: 2px;
  margin-bottom: 10px;
}

.form-input,
.form-select {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.form-inputs h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
  margin: 0;
}

.form-inputs label {
  margin-right: 20px;
  font-size: 16px;
  color: #555;
}

/* Styling the questions list */
.questions-list {
  list-style: decimal;
  padding-left: 0;
  margin-left: 20px;
}

.questions-list li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.questions-list li p {
  margin: 0 10px 0 0;
  flex: 1;
  text-align: left;
}

.question-options {
  display: flex;
  gap: 10px;
  align-items: center;
}

.question-options input[type="radio"] {
  margin: 0;
}

.question-options label {
  margin-right: 20px;
}

.form-header {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.button-container {
  display: grid;
  place-items: center; /* Centers both horizontally and vertically */
  width: 100%;
}

.centered-div {
  width: 50%; /* Or any desired width */
  padding: 20px;
}

.button-hasil {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--first-color);
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s ease-in-out;
  font-family: "Poppins", sans-serif;
}

.button-hasil:hover {
  background-color: var(--first-color-alt); /* Darken button on hover */
}

/* CSS Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: none;
  width: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.modal-header {
  border-bottom: none;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--title-color);
}

.modal-body {
  padding: 20px 0;
}

.modal-footer {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #eee;
}

.close {
  background-color: var(--body-color);
  color: #1d2521;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: var(--h2-font-size);
}

.btn-close {
  background-color: var(--first-color-alt);
  color: var(--container-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.btn-close:hover {
  background-color: var(--secondary-color);
}

@media (max-width: 768px) {
  #form-container {
    flex-direction: column;
    align-items: center;
  }

  .form-group {
    flex: 1 1 100%;
    min-width: auto;
    align-items: flex-start;
  }

  .form-button {
    width: 100%;
  }

  .modal-content {
    width: 90%;
  }
}
