<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />

    <!--========== BOX ICONS ==========-->
    <link
      href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!--========== CSS ==========-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <title>GASTRO - Sistem Pakar Diagnosis Penyakit Lambung</title>
  </head>
  <body>
    <!--========== SCROLL TOP ==========-->
    <a href="#" class="scrolltop" id="scroll-top">
      <i class="bx bx-chevron-up scrolltop__icon"></i>
    </a>

    <!--========== HEADER ==========-->
    <header class="l-header" id="header">
      <nav class="nav bd-container">
        <a href="{{ url_for('index') }}" class="nav__logo"
          >Sistem Pakar <span style="font-style: italic">GASTRO</span></a
        >

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="{{ url_for('index') }}" class="nav__link active-link"
                >Home</a
              >
            </li>
            <li class="nav__item">
              <a href="{{ url_for('index') }}#about" class="nav__link">About</a>
            </li>
            <li class="nav__item">
              <a href="{{ url_for('index') }}#services" class="nav__link"
                >Jenis Penyakit</a
              >
            </li>
          </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle">
          <i class="bx bx-menu"></i>
        </div>
      </nav>
    </header>

    <main class="l-main">
      <section
        class="tukak-lambung section"
        id="tukak-lambung"
        style="margin-top: 50px"
      >
        <div class="content">
          <div class="form-section">
            <div class="form-header">Form Data Diri</div>
            <div class="form-instructions">
              Perhatian..! Bagi pasien yang ingin melakukan konsultasi masalah
              keluhan yang dialami, terlebih dulu melakukan pengisian data yang
              telah diminta, isi data sesuai keterangan yang ada.
            </div>
            <form action="{{ url_for('identitas') }}" method="POST">
              <div class="form-inputs">
                <div class="form-group">
                  <h5 class="form-title">Nama Lengkap</h5>
                  <input
                    type="text"
                    name="nama_lengkap"
                    placeholder="Nama Lengkap"
                    class="form-input"
                    required
                  />
                </div>
                <div class="form-group">
                  <h5 class="form-title">Tanggal Lahir</h5>
                  <input
                    type="date"
                    name="tanggal_lahir"
                    placeholder="Tanggal Lahir"
                    class="form-input"
                    required
                  />
                </div>
                <div class="form-group">
                  <h5 class="form-title">No Handphone</h5>
                  <input
                    type="number"
                    name="no_handphone"
                    placeholder="No. Handphone"
                    class="form-input"
                    min="11"
                    required
                  />
                </div>
                <div class="form-group">
                  <h5 class="form-title">Tanggal Diagnosa</h5>
                  <input
                    type="date"
                    name="tanggal_diagnosa"
                    placeholder="Tanggal Diagnosa"
                    class="form-input"
                    required
                  />
                </div>
                <div class="form-group">
                  <h5 class="form-title">Alamat</h5>
                  <input
                    type="text"
                    name="alamat"
                    placeholder="Alamat Pasien"
                    class="form-input"
                    required
                  />
                </div>
              </div>
              <a
                href="{{ url_for('form_diagnosis') }}"
                class="button"
                id="btn-lanjutkan-diagnosa"
                >Lanjutkan Diagnosa</a
              >
            </form>
          </div>
        </div>
      </section>
    </main>

    <!--========== FOOTER ==========-->
    <footer class="footer section bd-container">
      <div class="footer__container bd-grid">
        <div class="footer__content">
          <a href="#" class="footer__logo">GASTRO</a>
          <span class="footer__description">Expert System</span>
          <div>
            <a href="#" class="footer__social"
              ><i class="bx bxl-facebook"></i
            ></a>
            <a href="#" class="footer__social"
              ><i class="bx bxl-instagram"></i
            ></a>
            <a href="#" class="footer__social"
              ><i class="bx bxl-twitter"></i
            ></a>
          </div>
        </div>

        <div class="footer__content">
          <h3 class="footer__title">Services</h3>
          <ul>
            <li>
              <a href="{{ url_for('index') }}" class="footer__link">Home</a>
            </li>
            <li>
              <a href="{{ url_for('index') }}#about" class="footer__link"
                >About</a
              >
            </li>
            <li>
              <a href="{{ url_for('index') }}#services" class="footer__link"
                >Jenis Penyakit</a
              >
            </li>
          </ul>
        </div>

        <div class="footer__content">
          <h3 class="footer__title">Address</h3>
          <ul>
            <li>Universitas Airlangga Surabaya</li>
            <li>Jl. Airlangga No 4-6, Surabaya</li>
            <li>vokasi.unair.ac.id</li>
          </ul>
        </div>
      </div>

      <p class="footer__copy">
        &#169; 2024 Kecerdasan Buatan Praktikum Kel 8. All right reserved
      </p>
    </footer>

    <!--========== SCROLL REVEAL ==========-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--========== MAIN JS ==========-->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <!--========== SWEETALERT ==========-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
